{% extends "base.html" %}
{% block content %}
    <h2>Add a Country to an Itinerary</h2>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn' href='#' data-target='select_country'>Select Country<i class="fas fa-caret-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='select_country' class='dropdown-content'>
                        {% for country in country_list %}
                            <li><a href="#!">{{ country['country']}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                     <!-- Switch -->
                    <div class="switch">
                        <i class="fa-solid fa-suitcase"></i>
                        <label for="to_go">
                        <input id="to_go" name="is_urgent" type="checkbox">
                        To Go
                        <span class="lever"></span>
                        Been
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>



{% endblock %}