{% extends "base.html" %}
{% block content %}
    <div class="page-heading center-align">
        <h2>Add A Trip</h2>
        <h3>Plan Your Next Adventure</h3>
    </div>
    <div class="row card-panel center-align">
        <div class="col s12 m10 l8">
            <form class="col" method="POST" action="{{ url_for('add_trip') }}">
                <div class="row">
                    <div class="col s12 input-field">
                        <i class="fas fa-plus prefix"></i>
                        <input id="trip_name" name="trip_name" minlength="3" maxlength="30" type="text" class="validate">
                        <label for="trip_name">Name it:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <i class="fas fa-plus prefix"></i>
                        <input id="country_name" name="country_name" minlength="3" maxlength="25" type="text" class="validate">
                        <label for="country_name">Where:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">
                            <i class="fas fa-suitcase prefix"></i>
                            <label for="to_go">
                                <input id="to_go" name="to_go" type="checkbox">
                                <span class="lever"></span>
                                To Go
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <i class="fas fa-plus prefix"></i>
                        <input id="created_by" name="created_by" minlength="3" maxlength="30" type="text" class="validate">
                        <label for="created_by">Author:</label>
                    </div>
                </div>
                <div class="center-align">
                    <div class="col s6 center-align btn-custom">
                        <button class="btn-custom" type="submit">
                            Add
                        </button>
                    </div>
                </div>
            </form>

        </div>
      </div>

{% endblock %}