{% extends "base.html" %}
{% block content %}
    <div class="page-heading">
        <h2 class="center-align">Add A Trip</h2>
        <h3>Plan Your Next Adventure</h3>
    </div>
    <div class="row card-panel">
        <div class="col s10 m8">
            <form class="ccol" method="POST" action="{{ url_for('add_trip') }}">
                <div class="row">
                <div class="input-field">
                    <i class="fas fa-plus prefix"></i>
                    <input placeholder="Name your next Trip" id="trip_name" name="trip_name" minlength="3" maxlength="30" type="text" class="validate">
                </div>
                </div>
                <div class="row">
                <div class="col s6 center-align btn-custom">
                    <button class="waves-effect waves-light btn-large lime lighten-2 btn-custom" type="submit">
                        Add
                    </button>
                </div>
                </div>
            </form>

        </div>
      </div>

{% endblock %}