<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wanderlist - A Space to Plan Your Next Big Trip">
    <!-- Materlialize CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fredericka+the+Great&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    <!-- Local stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <title>Wanderlist</title>
</head>
<body>
  <!-- Page header -->
    <header id="base-header">
      <div class="nav-container lime lighten-2">
        <!-- Navigation -->
        <nav class="main-nav lime lighten-2 z-depth-0">
          <ul class="hide-on-med-and-down nav-links teal-text text-darken-4">
            <li><a href="{{ url_for('home') }}" class="{{ 'nav__link--active' if request.path == url_for('home') }}">Home</a></li>
            <!-- Prevent user from accessing pages they must be logged in to use -->
            {% if session.user %}
              <li><a href="{{ url_for('trips') }}" class="{{ 'nav__link--active' if request.path == url_for('trips') }}">Trips</a></li>
              <li><a href="{{ url_for('journal') }}" class="{{ 'nav__link--active' if request.path == url_for('journal') }}">Journal</a></li>
              <li><a href="{{ url_for('auth.profile') }}" class="{{ 'nav__link--active' if request.path == url_for('auth.profile') }}">Profile</a></li>
              <li><a href="{{ url_for('auth.logout') }}" class="{{ 'nav__link--active' if request.path == url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
          </ul>
        </nav>
        <!-- Mobile menu trigger -->
        <div class="burger-container">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger" aria-label="Menu"><i class="fas fa-bars mobile-burger"></i></a>
        </div>
        <!-- Logo -->
        <div class="logo-container">
          <h1><a href="{{ url_for('home') }}" class="logo teal-text text-darken-4">Wanderlist</a></h1>
        </div>
      </div>
      <!-- Mobile navigation -->
      <div class="sidenav-container">
        <ul class="sidenav lime lighten-2 teal-text text-darken-4" id="mobile-demo">
          <li><a href="{{ url_for('home') }}" class="{{ 'nav__link--active' if request.path == url_for('home') }}">Home</a></li>
          <!-- Prevent user from accessing pages they must be logged in to use -->
          {% if session.user %}
            <li><a href="{{ url_for('trips') }}" class="{{ 'nav__link--active' if request.path == url_for('trips') }}">Trips</a></li>
            <li><a href="{{ url_for('journal') }}" class="{{ 'nav__link--active' if request.path == url_for('journal') }}">Journal</a></li>
            <li><a href="{{ url_for('auth.profile') }}" class="{{ 'nav__link--active' if request.path == url_for('auth.profile') }}">Profile</a></li>
            <li><a href="{{ url_for('auth.logout') }}" class="{{ 'nav__link--active' if request.path == url_for('auth.logout') }}">Log Out</a></li>
          {% endif %}
        </ul>
      </div>
  </header>
  <!-- Main section -->
  <main id="main" class="halign-wrapper center-align">
      <!-- Flash messages for user validation -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="row flash-msg flashes">
              <p>{{ message }}</p>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- Block content begins -->
    {% block content %}
    {% endblock %}
  </main>
  <!-- Footer -->
  <footer class=" page-footer footer lime lighten-2">
      <div class="social-container lime lighten-2">
        <ul class="social-links">
          <li class="list-inline-item social-icon">
            <a target="_blank" href="https://twitter.com/">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <span class="sr-only">Twitter</span>
            </a>
            </li>
          <li class="list-inline-item social-icon">
            <a target="_blank" href="https://www.youtube.com/">
              <i class="fa fa-youtube" aria-hidden="true"></i>
              <span class="sr-only">Youtube</span>
            </a>
          </li>
          <li class="list-inline-item social-icon">
            <a target="_blank" href="https://en-gb.facebook.com//">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <span class="sr-only">Facebook</span>
            </a>
          </li>
          <li class="list-inline-item social-icon">
            <a target="_blank" href="https://www.instagram.com/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <span class="sr-only">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  <!-- Font Awesome CDN -->
  <script
    src="https://kit.fontawesome.com/fe32e32a81.js"
    crossorigin="anonymous">
  </script>
  <!-- Materialize JavaScript CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Local Javascript File -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>