<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materlialize CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fredericka+the+Great&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    <!-- Local stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}" />
    <title>Wanderlist</title>
</head>
<body>
    <header>
      <div class="wrapper lime lighten-2">
          <nav class="main-nav lime lighten-2">
              <div class="nav-lge">
                  <h1><a href="#" class=" logo teal-text text-darken-4">Wanderlist</a></h1>
                  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                  <ul class="right hide-on-med-and-down teal-text text-darken-4">
                      <li><a href="{{ url_for('home') }}">Home</a></li>
                      <li><a href="{{ url_for('destinations', country='country_results') }}">Destinations</a></li>
                      {% if session.user %}
                        <li><a href="{{ url_for('trips') }}">Trips</a></li>
                        <li><a href="{{ url_for('journal') }}">Journal</a></li>
                        <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                      {% endif %}
                    </ul>
              </div>
          </nav>
      </div>
      <ul class="sidenav teal-text text-darken-4" id="mobile-demo">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('destinations', country='country_results') }}">Destinations</a></li>
          {% if session.user %}
            <li><a href="{{ url_for('trips') }}">Trips</a></li>
            <li><a href="{{ url_for('journal') }}">Journal</a></li>
            <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
          {% endif %}
      </ul>
  </header>
  <main id="main" class="halign-wrapper center-align">
    <section>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="row flash-msg flashes">
              <p>{{ message }}</p>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </section>
    {% block content %}
    {% endblock %}
  </main>  
  <footer class=" page-footer footer lime lighten-2">
      <div class="social-container">
        <ul class="social-links">
          <li class="list-inline-item social-icon">
            <a target="_blank" href="https://twitter.com/">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <span class="sr-only">Twitter</span>
            </a>
            </li>
          <li class="list-inline-item social-icon">
            <a target="_blank" href="https://www.youtube.com/">
              <i class="fa fa-youtube" aria-hidden="true"></i>
              <span class="sr-only">Youtube</span>
            </a>
          </li>
          <li class="list-inline-item social-icon">
            <a target="_blank" href="https://en-gb.facebook.com//">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <span class="sr-only">Facebook</span>
            </a>
          </li>
          <li class="list-inline-item social-icon">
            <a target="_blank" href="https://www.instagram.com/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <span class="sr-only">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  <!-- Font Awesome CDN -->
  <script
    src="https://kit.fontawesome.com/fe32e32a81.js"
    crossorigin="anonymous">
  </script>
  <!-- Materialize JavaScript CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Local Javascript File -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>