{% extends "base.html" %}
{% block content %}
  <div class="page-heading">
    <div class="row">
      <div class="col s12">
        <h2>Search for Destinations to Travel to:</h2>
        <h3>Add them to your Trips using the <i class="fas fa-plus"></i> button</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s8 search-bar">
        <form>
          <div class="input-field">
            <input id="search" type="search" placeholder="Search" required>
            <label class="label-icon" for="search"><i class="fa-solid fa-magnifying-glass-location"></i></label>
          </div>
        </form>        
      </div>
    </div>
  </div>

  <div class="card-container">
      <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="#">
                <span class="card-title">Country Name</span>
                <a class="btn-floating halfway-fab waves-effect waves-light lime lighten-2"><i class="fas fa-plus"></i></a>
              </div>
              <div class="card-content">
                  <p><b>Region:</b> </p>
              </div>
            </div>
          </div>
        </div>
  </div>

{% endblock %}