{% extends "base.html" %}
{% block content %}
    <div class="page-heading">
        <h2 class="center-align">Edit Trip</h2>
        <h3></h3>
    </div>
    <div class="row card-panel">
        <div class="col s12">
            <form class="col" method="POST" action="{{ url_for('edit_trip', trip_id=trip.id) }}">
                <div class="row">
                    <div class="input-field">
                        <i class="fas fa-plus prefix"></i>
                        <input id="trip_name" name="trip_name" value="{{ trip.trip_name }}" minlength="3" maxlength="30" type="text" class="validate">
                        <label for="trip_name">Name it:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <i class="fas fa-plus prefix"></i>
                        <input id="country_name" name="country_name" value="{{ trip.country_name }}" minlength="3" maxlength="25" type="text" class="validate">
                        <label for="country_name">Where:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">
                            <i class="fas fa-suitcase prefix"></i>
                            <label for="to_go">
                                {% if trip.to_go == True %}
                                    <input id="to_go" name="to_go" type="checkbox" checked>
                                {% else %}
                                    <input id="to_go" name="to_go" type="checkbox">
                                {% endif %}
                                    <span class="lever"></span>
                                To Go
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <i class="fas fa-plus prefix"></i>
                        <input id="created_by" name="created_by" value="{{ trip.created_by }}" minlength="3" maxlength="30" type="text" class="validate">
                        <label for="created_by">Author:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 center-align btn-custom">
                        <button class="waves-effect waves-light btn-large btn-custom" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </form>

        </div>
      </div>

{% endblock %}