{% extends "base.html" %}
{% block title %} {{ error_number }} {% endblock %}
{% block content %}
    <section class="error main-section">
        <div class="row page-heading">
            <div class="col s6 offset-s2">
                <h2>ERROR</h2>
                <p><bold>OH NO!!</bold></p> 
            </div>
        </div>  
        <div class=" error-message error-main">
            <div class="error_body">
                <h3>{{ error_message }}</h3>
                <h4> {{ error_number }}</h4>
                <p>
                    Click <a href="{{ url.for('home') }}">HERE</a> to return
                    Home.
                </p>
             </div>
        </div>
    </section>
{% endblock %}