{% extends "base.html" %}
{% block content %}
    <section class="index-main">
        <!-- Background image container -->
        <div class="hero-container">
            <!-- Hero text container -->
            <div class="hero-text">
                <h2>A Space to Plan Your Next Big Trip</h2>
                <!-- Only display buttons to sign up or sign in if user not logged in -->
                {% if session['logged_in'] %}
                {% else %}
                    <a href="{{ url_for('auth.register') }}" class="waves-effect waves-light btn-large btn-custom-light" aria-label="Join">Join</a>
                    <a href="{{ url_for('auth.login') }}" class="waves-effect waves-light btn-large btn-custom-light" aria-label="Sign In">Sign in</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}