{% extends "base.html" %}
{% block content %}
    <div class="page-heading">
        <h2 class="center-align">Journal Entries</h2> 
    </div>
    <div class="row">
        <div class="col s3 offset-m8 btn-custom">
            <a href="{{ url_for('document') }}" class="waves-effect waves-light btn-large lime lighten-2" type="button">Add Entry</a>
        </div>
    </div>
    <div class="row page-content">
        <div class="col s12">            
            <ul class="collapsible">
                {% for journal in journals|sort(attribute="when") %}
                    <li>
                        <div class="collapsible-header"><i class="fas fa-caret-down"></i>
                            <h4>{{ journal.trip_name }}</h4>
                            {% if journal.have_been == True %}
                                <span><i class="fas fa-tick">Have Been</i></span>
                            {% endif %}
                            <span><a href="{{ url_for('edit_document', journal_id=journal.id) }}" class="btn btn-custom">Edit</a></span>
                        </div>
                        <div class="collapsible-body">
                            <h4>Trip: {{ journal.trip_id }}</h4>
                            <p>Best bits: {{ journal.description }}</p>
                            <ul>
                                <li>Where: {{ journal.where }}</li>
                                <li>When: {{ journal.when.strftime("%d %B %Y") }}</li>
                                <li>How: {{ journal.how }}</li>
                            </ul>
                        </div>
                    </li>
                {% endfor %}
              </ul>
        </div>
    </div>

{% endblock %}