{% extends "base.html" %}
{% block content %}
    <section class="main-section">
        <div class="page-heading">
            <div class="row">
                <div class="col s12 l6 offset-l3 page-title">
                    {% for users in user %}
                        <h2>Welcome {{ users.name.capitalize() }} !</h2> 
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <!-- Add trip or journal entry -->
                <div class="col s12 center-align btn-lrg">
                    <a href="{{ url_for('document') }}" class="waves-effect waves-light btn-large btn-custom-dark" type="button" aria-label="Add journal entry">Add Journal Entry</a>
                    <a href="{{ url_for('add_trip') }}" class="waves-effect waves-light btn-large btn-custom-light" type="button" aria-label="Add a trip">Add a Trip</a>
                </div>
            </div>
        </div>
        <div class="halign-wrapper">
            <div class="row center-align">
                <div class="row profile-section">
                    <!-- Profile section -->
                    <div class="col s12 center-align">
                        <p>Check back soon to make a profile section!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}