{% extends "base.html" %}
{% block content %}
    <div class="center-align page-heading">
        <h2>Register</h2>
        <h3>Begin your travel journal!</h3>
    </div>
    <div class="row">
        <form class="col s12 m10 l8" method="POST" action="{{ url_for('auth.register') }}">
            <div class="row">
                <div class="center-align col s12">
                    <h4>Have an Account?</h4>
                    <a href="{{ url_for('auth.login') }}">Login Here.</a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" minlength="5" 
                        maxlength="14" pattern="^[a-zA-Z0-9]{5,14}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
                <input id="password" name="password" type="password" minlength="8" 
                    maxlength="14" pattern="^[a-zA-Z0-9]{8,14}$" class="validate" required>
                <label for="password">Password</label>
            </div>
            <div class="row">
                <div class="col s6 center-align">
                    <button class="waves-effect waves-light btn btn-custom" type="submit">
                        Register
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}