{% extends "base.html" %}
{% block content %}
    <div class="row page-heading">
        <div class="col s6 offset-s2">
            <h2 >My Trips</h2> 
        </div>
        <div class="col s2 btn-lrg">
            <a href="{{ url_for('add_trip') }}" class="waves-effect waves-light btn-large btn-custom-dark" type="button" aria-label="Add a Trip">Add a Trip</a>
        </div>
    </div>
    <div class="halign-wrapper center-align">
        <div class="row page-content">
            <div class="col s12 m8 offset-m2"> 
                {% for trip in trips %}
                    <div class="col s12 m8 l4">
                    <div class="card lime lighten-2">
                        <div class="content-heading">
                            <h3>{{ trip.trip_name }}</h3>
                        </div>
                        <div class="card-content">
                            <ul>
                                {% for journal in journals %}
                                    {% if trip.id == journal.itinerary_id %}
                                        <li><a href="{{ url_for('edit_document', journal_id=journal.id) }}" class="journal-link" type="link" aria-label="{{ journal.trip_name }}">{{ journal.trip_name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('edit_trip', trip_id=trip.id) }}" class="btn-large btn-custom-dark" aria-label="Edit">Edit</a>
                            
                            <!-- Modal Trigger -->
                            <a href="{{ url_for('delete_trip', trip_id=trip.id) }}" data-target="modal1" class="btn-large btn-custom delete-btn modal-trigger">Delete</a>
                        </div>
                    </div>
                    </div>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Are You Sure?</h4>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_trip', trip_id=trip.id) }}" class="btn-large btn-custom delete-btn" aria-label="Delete">Delete</a>
                            <a href="{{url_for('trips')}}" class="modal-close btn-large btn-custom-light" aria-label="Cancel">Cancel</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}