{% extends "base.html" %}
{% block content %}
    <section class="main-section">
        <div class="page-heading">
            <div class="row">
                <div class="col s12 m6 offset-m1 page-title">
                    <h2>Trips</h2>
                </div>
                <div class="col s12 m4 offset-m8 center-align btn-lrg">
                    <!-- Button to add a new trip -->
                    <a href="{{ url_for('add_trip') }}" class="waves-effect waves-light btn-large btn-custom-dark" type="button" aria-label="Add a Trip">Add a Trip</a>
                </div>
            </div>
        </div>
        <div class="row page-content halign-wrapper center-align">
            <div class="col s12 m8 offset-m2 card-container"> 
                <!-- To display the trips entered into the dabase -->
                {% for trip in trips %}
                    <div class="col s12 m8 l6">
                    <div class="card trip-card lime lighten-2">
                        <div class="content-heading">
                            <h3>{{ trip.trip_name }}</h3>
                            <h4>{{ trip.country_name }}</h4>
                        </div>
                        <div class="card-content">
                            <ul>
                                <!-- To show the linked journal entries -->
                                {% for journal in journals %}
                                    {% if trip.id == journal.itinerary_id %}
                                        <li><a href="{{ url_for('edit_document', journal_id=journal.id) }}" class="journal-link" type="link" aria-label="{{ journal.trip_name }}">{{ journal.trip_name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-action">
                            <!-- Button to edit trip -->
                            <a href="{{ url_for('edit_trip', trip_id=trip.id) }}" class="btn-large btn-custom-dark" aria-label="Edit">Edit</a>
                            
                            <!-- Delete modal Trigger -->
                            <a href="{{ url_for('delete_trip', trip_id=trip.id) }}" data-target="modal{{trip.id}}" class="btn-large btn-custom delete-btn modal-trigger" aria-label="Delete">Delete</a>
                        </div>
                    </div>
                    </div>
                    <!-- Delete confirmation modal tructure -->
                    <div id="modal{{trip.id}}" class="modal delete-modal lime lighten-2">
                        <div class="modal-content lime lighten-2">
                            <h4>Delete Trip?</h4>
                            <p>This will delete any associated journal entries!</p>
                            <p>Are you sure?</p>
                        </div>
                        <div class="modal-footer lime lighten-2">
                            <!-- Delete and cancel buttons -->
                            <a href="{{ url_for('delete_trip', trip_id=trip.id) }}" class="btn-large btn-custom delete-btn" aria-label="Delete">Delete</a>
                            <a href="{{url_for('trips')}}" class="modal-close btn-large btn-custom-dark" aria-label="Cancel">Cancel</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}