{% extends "base.html" %}
{% block content %}
    <div class="row page-heading">
        <div class="col s6 offset-s2">
            <h2 >My Trips</h2> 
        </div>
        <div class="col s2 btn-lrg">
            <a href="{{ url_for('add_trip') }}" class="waves-effect waves-light btn-large btn-custom-dark" type="button">Add a Trip</a>
        </div>
    </div>
    <div class="halign-wrapper center-align">
        <div class="row page-content">
            <div class="col s12 m8 offset-m2"> 
                {% for trip in trips %}
                    <div class="col s12 m8 l4">
                    <div class="card lime lighten-2">
                        <h4 class="card-title">{{ trip.trip_name }}</h4>
                        <div class="card-content">
                            {% for journal in journals %}
                            {% if trip.id == journal.itinerary_id %}
                                <h3>{{ journal.trip_name }}</h3>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('edit_trip', trip_id=trip.id) }}" class="btn-large btn-custom-dark">Edit</a>
                            
                            <!-- Modal Trigger -->
                            <a href="{{ url_for('delete_trip', trip_id=trip.id) }}" data-target="modal1" class="btn-large btn-custom red modal-trigger">Delete</a>
                        
                        </div>
                    </div>
                    </div>

                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Are You Sure?</h4>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_trip', trip_id=trip.id) }}" class="btn-large btn-custom red">Delete</a>
                            <a href="{{url_for('trips')}}" class="modal-close btn-large btn-custom-dark" aria-label="Cancel">Cancel</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>




{% endblock %}