/* Special Margins and Padding */
.container,
* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: scroll;
}

header {
    position: sticky;
    top: 0;
    z-index: 500;
}

.main-section {
    margin-top: 10vh;
}

.nav-lge {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 500;
}

.page-content {
    height: fit-content;
}

#main {
    min-height: -webkit-fill-available;
    position: relative;
    margin-top: -4vh;
}


/* Colors and Fonts */

.mobile-burger {
    color:#004d40;
    font-size: 2.5rem;
}

.delete-btn {
    background-color: #d50000;
}

.contact-social-links li a i,
.social-links li a i:hover {
    color: #dce775;
    background-color: #004d40;
}

.social-links li a i,
.contact-social-links li a i:hover {
    background-color: #e8eaf6;
    color: #004d40;
}

body {
    background-color: #e8eaf6;
}

.content-heading {
    padding: 0.3rem;
}

.content-heading h3 {
    font-size: 2.5rem;
}

.content-heading p {
    font-size: 2rem;
}

.page-heading h2 {
    font-size: 3rem;
}

.content-heading h3,
.page-heading h2 {
    color:#004d40;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "Caveat Brush", sans-serif;
    font-weight: 700;
}

.page-heading h2 {
    font-size: 4rem;
}

.caret,
.content-heading h3 {
    font-size: 3rem;
}

.register-link h4 {
    font-size: 2rem;
}


.login-link,
.register-link,
.card-content a {
    font-family: "Quattrocento", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color:#004d40;
}

.content-heading p,
.page-heading h3 {
    font-family: "Quattrocento", sans-serif;
    font-size: 1.5em;
    color: #004d40;
}

.btn-custom-light,
.btn-custom-dark,
.btn-custom,
form {
    font-family: "Quattrocento", sans-serif;
}

.input-field input[type=text]:focus + label {
    color: #004d40;
}

.journal-entry-details p,
.journal-entry-details ul {
    font-size: 1.5rem;
    font-family: "Quattrocento", sans-serif;
}

.profile-section p,
.dropdown-content li>a, .dropdown-content li>span {
    color: #004d40;
    font-family: "Quattrocento", sans-serif;
    font-size: 2rem;
}

.journal-entry-details h4 {
    font-size: 3rem;
    font-family: "Caveat Brush", sans-serif;
    font-weight: 700;
    color: #004d40;
}


/* Colors for datepicker elements */
.datepicker-table td.is-selected,
.datepicker-date-display {
    background-color: #004d40;
}

.confirmation-btns button {
    color: #004d40;
}

/* Color for icon prefixes */
.prefix,
.input-field>label {
    color: #004d40;
    font-size: 1rem;
    height: fit-content;
}

/* Overrid Materialize presets */
/* Get card-action buttons to sit at bottom of card:  */
.card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.card-content {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.card.large {
    min-height: 30vh;
    max-height: 50vh;
}

.large .card-content {
    margin: 4rem 2rem;
}

.card-action a {
    transform: scale(0.9);
}

.card.large .card-content {
    overflow: auto;
}

.MuiCard-root{
    display: flex;
    flex-direction: column;
}
.MuiCardActions-root{
    margin-top: auto;
}

/* Flash Message */

.flash-msg {
    font-family: "Quattrocento", sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: #004d40;
    margin-top: 8vh;
    padding: 0.5rem;
}

/* Logo */

.logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 2rem;
    margin-top: 2rem;
}

.logo {
    color: #004d40;
    font-family: "Fredericka the Great", sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    text-align: center;
    padding-bottom: 4rem;
}

/* Nav */

.burger-container {
    margin-left: 1vh;
    top: 0;
    padding: 1vh;
    position: relative;
}

.nav-container {
    width: 100%;
    margin: 0 auto; 
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.sidenav {
    z-index: 600;
    top: 0;
}

.sidenav,
nav ul li a {
    top: 0;
    color: #004d40;
    font-family: "Quattrocento", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    letter-spacing: 0.1rem;
    
}

.sidenav-container ul li a,
nav ul li a {
    font-size: 1.5rem;
}

/* To indicate acive page */
.nav__link--active,
nav ul li a:hover {
    color:#e8eaf6;
    background-color: #cddc39;
}

/* Index */

/* hero image */
.index-main {
    overflow: hidden;
}

.hero-container {
    margin: 0;
    padding: 0;
    top: 0;
    background-size: cover;
    position: relative;
    width: auto;
    display: contents;
}

/* Use of ::before so hero text is not translucent */
.hero-container::before {
    content: "";
    background: url("/static/images/hero4.webp") no-repeat center top;
    background-size: cover;
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

/* Place text in the middle of the image */
.hero-text {
    font-family: "Fredericka the Great", sans-serif;
    font-size: 8rem;
    text-align: center;
    position: absolute;
    color: #004d40;
    opacity: 1;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, 50%);
    /* ensure text sits above image */
    z-index: 450;
}

/* Profile */

.profile-section {
    padding: 10vh;
}


/* Custom buttons  */
.btn-custom-dark {
    color: #dce775;
    background-color: #004d40;
}

.btn-custom-dark:hover {
    background-color: #dce775;
    color: #004d40;
}

.btn-custom-light:hover {
    color: #dce775;
    background-color: #004d40;
}

.btn-custom-light {
    background-color: #dce775;
    color: #004d40;
}

.btn-custom,
.btn-custom-light,
.btn-custom-dark {
    font-size: 1rem;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-top: 2rem;
    min-width: 10rem;
}

.hero-container a {
    background-color: #dce775;
    color: #004d40;
    font-size: 1.5rem;
    border-radius: 10px;
}


/* Journal Page */

.journal_entry_details,
.journal_entry_details h4 {
    text-align: left;
    font-size: 1.4rem;
    line-height: 2rem;
}


/* Modal */

.delete-modal {
    border-radius: 5%;
    padding: 2vh;
    overflow:  hidden;
}

.delete-modal h4 {
    color:#004d40;
    text-align: center;
    font-family: "Caveat Brush", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.delete-modal p {
    color:#004d40;
    text-align: left;
    font-family: "Quattrocento", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.modal-footer a {
    padding: 2vh;
    margin-bottom: 4vh;
}

.modal-footer {
    display: flex;
    height: fit-content !important;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* Footer */

footer {
    height: 10vh;
    margin: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.social-container {
    display: flex;
    display: inline;
    flex-direction: row;
    width: 100%;
}

.social-icon {
    display: flex;
}

.contact-social-links,
.social-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-social-links li,
.social-links li {
    text-align: center;
    padding: 0.5rem;
    display: flex;
}

.contact-social-links li a,
.social-links li a {
    text-decoration: none;
}

.contact-social-links li a i,
.social-links li a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2em;
    line-height: 6px;
    margin-bottom: 2px;
    /*flex added to links themselves, from tutor support*/
    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none;
    /* From Resume project */
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/* Media Queries */

/* Mobile */
@media screen and (max-width:768px) {
    /* Custom buttons */
    .btn-custom-dark,
    .btn-custom-light,
    btn.btn-custom {
        transform: scale(0.8);
    }
    .btn-lrg a {
        transform: scale(0.7);
    }

    /* Form containers */
    .form-container {
        padding: 15px 0 10px 10px;
        justify-content: center;
        position: relative;
    }

    /* Nav and Logo */
    .nav-container {
        height: 20vh;
    }

    nav {
        height: 0;
        width: 0;
    }

    .sidenav {
        z-index: 600;
    }

    .sidenav-overlay {
        z-index: 10;
    }

    .sidenav,
    .sidenav ul li a {
        top: 0;
        color: #004d40;
        background-color: #dce775;
        font-family: "Quattrocento", sans-serif;
        font-size: 1rem;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        padding: 0.5em;
        letter-spacing: 0.02em;
        max-height: 50vh;
        
    }

    .logo-container {
        text-align: center;
    }

    .logo {
        font-size: 2.5rem;
    }

    .logo-container h1 {
        margin-top: 0;
    }
    
    /* Headings */
    h4 {
        font-size: 4rem;
    }
    
    .page-heading h3 {
        font-size: 1em;
    }

    /* Journal Page */
    .journal_entry_details {
        font-size: 1rem;
    }
    
    .journal_entry_details h4 {
        font-size: 1.5rem;

    }

    /* Index */
    /* make hero text smaller */
    .hero-text {
        font-size: 1rem;
        transform: scale(0.8);
    }

    .hero-container {
        margin: 0;
        padding: 0;
        width: auto;
    }

    /* Display different he image on smaller screen sizes */
    .hero-container::before {
        content: "";
        background: url("/static/images/hero2mobile.webp") no-repeat center top;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.4;
    }
    
    .social-container li a {
        transform: scale(0.9);
    }

    /* Footer */
    footer {
        height: 8vh;
    }

    .page-footer {
        bottom: 0;
        padding-bottom: 2vh;
    }
}

/* Tablet and larger */
@media screen and (min-width: 768px) {
    /* Nav and Logo */
    nav ul {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    nav li {
        flex: 1 1 0;
    }

    .nav-container {
        height: 20vh;
    }

    .logo {
        padding: 3rem;
    }

    /* Form adjustments */
    .document-form {
        width: -webkit-fill-available;
    }

    .trip-card {
        height: 40vh;
    }
}

/* Laptop and Larger */
@media screen and (min-width: 1024px) {
    /* Hide mobile side menu */
    .burger-container {
        display: none;
    }

    /* Nav */
    .nav-container {
        height: 25vh;
    }
}
